html {
  --red: oklch(0.65 0.3 19.41);
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: hsl(210deg 15% 6%);
}

.particleButton {
  position: relative;
  padding: 16px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: hsl(0deg 0% 100% / 0.1);

    path {
      stroke: var(--red);
    }
  }

  &.liked path {
    fill: var(--red);
    stroke: var(--red);
  }
}

.particleButton svg {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes expand {
  from {
    transform: translate(0px, 0px);
  }
}

.particula {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: aliceblue;
  animation: fadeout 2000ms forwards, expand 500ms;
}